server:
  port: 8081
spring:
  profiles: dev
  application:
    name: jmdp
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://172.18.100.100:3306/jonmax_dianping?useSSL=false&serverTimezone=UTC
    username: jonmax
    password: Kfcs@1234
  redis:
    host: 172.18.100.100
    port: 6379
    password: Kfcs@1234
    database: 1
    lettuce:
      pool:
        max-active: 10
        max-idle: 10
        min-idle: 1
        time-between-eviction-runs: 10s
  jackson:
    default-property-inclusion: non_null # JSON处理时忽略非空字段

mybatis-plus:
  type-aliases-package: com.hmdp.entity # 别名扫描包

logging:
  level:
    com.hmdp: debug